.ng-invalid.ng-dirty {
    border-color: var(--bulma-danger);
}

.invalid-feedback {
    display: none;
}

.ng-invalid.ng-dirty .invalid-feedback {
    display: block;
    width: 100%;
    font-size: 0.875em;
    color: var(--bulma-danger);
}

.input::placeholder {
    color: rgba(0, 0, 0, 0.616)
}